<h1>Component one</h1>
<p>Current phase: {{phase}}</p>
<p>Turnos: {{turns}}</p>
<h2>Board - one</h2>
<p>Orientation selected: {{orientation}}</p>
<button (click)="changeOrientation()">Change orientation</button>
<p>Units: {{units}}</p>
<button (click)="changeX()">cambia X</button>
<form [ngFormModel]="form">
  <label>
    X:
    <input type="text" maxlength="1" size="2" [ngFormControl]="form.controls.coordinateX" name="coordinateX">
  </label>
  <label>
    Y:
    <input type="text" maxlength="2" size="2" [ngFormControl]="form.controls.coordinateY" name="coordinateY">
  </label>
  <button (click)="announce(form.value.coordinateX, form.value.coordinateY, units, orientation)">
    Colocar en ({{form.value.coordinateX}}, {{form.value.coordinateY}})
  </button>
</form>


<bs-board [size]="[[boardSize]]" [(turns)]="turns" [(phase)]="phase"></bs-board>
<h2>Board - two</h2>
<bs-ia></bs-ia>
<bs-board [size]="[[boardSize]]" [(turns)]="turns" [(phase)]="phase" [isIa]="true"></bs-board>
