bs-board {
  font-family: 'Slabo 27px', serif;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  opacity: 0;
  animation: board-fade-in 1.3s ease;
  animation-delay: .8s;
  animation-fill-mode: forwards;
}

input {
  text-transform: uppercase;
  width: 26px;
}

header {
  font-family: 'Slabo 27px', serif;
  order: 1;
  min-width: 100%;
  min-height: 10%;
  background-color: #69c9f9;
  text-align: center;
  font-size: 22px;
  border-radius: 0 0 25px 25px;
  color: #2c5d75;
}

.content {
  order: 2;
  min-width: 100%;
  min-height: 90%;
  /*background-color: yellow;*/

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.player-form {
  min-width: 260px;
  font-family: 'Slabo 27px', serif;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);

  opacity: 0;
  animation: board-fade-in 1s ease;
  animation-delay: .1s;
  animation-fill-mode: forwards;
}

button {
  background-color: #58efb3;
  padding: 5px;
  color: #1c563f;
  border: 1px solid #1c563f;
}

button.orientation {
  background-color: #5ec9ff;
  color: #2c5d75;
  border: 1px solid #2c5d75;
}

button:disabled {
  background-color: #9fc5b6;
}

form {
  margin: 10px 0 10px;
}

.message {
  color: #ff007d;
}

.form-actions {
  width: 100%;
  text-align: center;
}

.form-result {
  font-style: italic;
  margin-top: 5px;
}


h2 {
  margin: 0;
}

p {
  margin: 0;
}
