.cell {
  background-color: #989EA1;
  color: white;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.empty {
  background-color: #546E7A;
}

.water {
  background-color: #42A5F5;
}

.hit {
  background-color: #FF5722;
}
