.board {
  opacity: 0;
  animation: board-fade-in 1.3s ease;
  animation-delay: .8s;
  animation-fill-mode: forwards;
}

.throw {
  /*border: 1px solid black;*/
  /*padding: 2px;*/
}

.box {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: black
}

.board-cell {
  margin: 2px;
}

.coordinates {
  background-color: #1c563f;
  color: white;
  font-size: 16px;
  text-align: center;
}

.coordinates.x {
}

.coordinates.x:first-child {
  margin-left: 26px;
}

.coordinates.y {
  overflow: hidden;
}
