.throw {
  /*border: 1px solid black;*/
  /*padding: 2px;*/
}

.box {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: black
}

.board-cell {
  margin: 2px;
}


.coordinates {
  background-color: orange;
  color: blue;
  font-size: 16px;
}

.coordinates.x {
}

.coordinates.x:first-child {
  margin-left: 27px;
}

.coordinates.y {
  overflow: auto;
}
