<p>este es el componente board</p>
<p>{{turns}}</p>
<div class="board">

  <div class="box board-cell coordinates x" *ngFor="let throw of board.cells; let i = index">
    <span>{{throw[i].coordinates.x}}</span>
  </div>

  <div class="throw" *ngFor="let throw of board.cells; let i = index">
    <span class="box coordinates y">{{throw[i].coordinates.y}}</span>
    <span class="box board-cell" *ngFor="let cell of throw;">
      <bs-cell class="box" (click)="shoot(cell)" [cell]="cell"></bs-cell>
    </span>
  </div>
</div>
