<header>
  <h1>Battleship</h1>
  <span>by AlexArroyoDuque</span>
</header>

<section class="about">
  <div class="item">
    <span class="text">Source code</span>
    <a href="https://github.com/alexarroyoduque/battleship" target="_blank" title="github">
      <img src="app/menu/images/github.png" alt="source code"/>
    </a>
  </div>
  <div class="item">
    <span class="text">Technology</span>
    <a href="https://angular.io/" target="_blank" title="angular">
      <img src="app/menu/images/angular.png" alt="angular"/>
    </a>
  </div>
</section>

<section class="content">
    <a [routerLink]="['OnePlayer']">Un jugador</a>
</section>
