<div class="menu base-background">
  <header>
    <div>
      <span class="corner">
        <a href="https://angular.io/" target="_blank" title="go to Angular2">Angular2</a>
      </span>
    </div>
    <div>
      <span class="corner">
        <a href="https://github.com/alexarroyoduque/battleship" target="_blank" title="go to Code">Code</a>
      </span>
    </div>
  </header>

  <section class="main">
    <div class="splash">
      <div class="captain">
        <div class="head">
          <div class="hair"></div>
          <div class="cap-1"></div>
          <div class="cap-2">
            <div class="ornament"></div>
          </div>
          <div class="eye eye-2">
            <div class="pupil"></div>
          </div>
          <div class="nose"></div>
          <div class="eye eye-1">
            <div class="pupil"></div>
          </div>
          <div class="beard beard-3"></div>
          <div class="beard beard-2"></div>
          <div class="beard beard-2b"></div>
          <div class="beard beard-1"></div>
          <div class="ear"></div>
          <div class="mouth"></div>
          <div class="smoking-pipe">
            <div class="smoking-pipe-base part-2"></div>
            <div class="smoking-pipe-base part-1"></div>
            <div class="smoking-pipe-base part-3"></div>
          </div>

        </div>
      </div>
      <div class="bubbles">
        <div class="bubbles-container">
          <div class="bubbles-base bubble-1"></div>
          <div class="bubbles-base bubble-2"></div>
        </div>
      </div>
      <div class="battleship">
        <h1><a [routerLink]="['OnePlayer']">Battleship</a></h1>
        <div id="chevron"></div>
      </div>
    </div>
  </section>

<footer>
  <div><span class="corner">2016</span></div>
  <div>
    <span class="corner">
      <a href="http://alexarroyoduque.github.io" target="_blank" title="go to AlexArroyoDuque">by AlexArroyoDuque</a>
    </span>
  </div>
</footer>

</div>
